
.banner-volver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #68c3a3;
    color: #333;
    text-align: center;
    padding: 15px 0; 
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
    transition: background-color 0.3s;
}

.banner-volver:hover {
    background-color: #57b693;
}


body {
    background-color: #333; 
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; 
}

.contenedor {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: auto; 
}

h1 {
    color: #68c3a3;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
}

p strong {
    color: #ffffff;
}
